
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/app.css">
  <title>Users</title>

</head>
<body class="m-0 p-0 container-fluid">
<%- include('../inc/header') %>
<div style="display: inline-block;">

  <h1 style="margin-left:20px ;">DANH SÁCH VOUCHER</h1>
  <div class="m-4">

    <div class="input-group" style="width: 1480px;">
      <span class="input-group-text col-md-1">Search</span>
      <input type="text" class="form-control" placeholder="Name" name="q">

      <a href="/users" > <button type="submit" class="btn btn-add fw-medium" aria-placeholder="Search" > Search</button></a>
    </div>

  </div>
</div>

<% if(listUser){%>
  <table style="width: 1480px; margin: 22px;" class="table table-hover table-bordered mt-2" id="resultTable">
    <thead>
    <tr class="text-center">

      <th scope="col">Img</th> <th scope="col">UserName</th> <th scope="col">Email</th> <th scope="col">Password</th> <th scope="col">Phone</th> <th scope="col">Address</th> <th></th>
    </tr>
    </thead>
    <tbody id="tableBody">
    <% listUser.forEach((item)=>{ %>
      <tr class="align-middle">

        <td><img src="<%= item.Avatar  %>" style="width: 100px; height: 100px;" alt=""></td>
        <td  ><%= item.FullName %></td>
        <td><%= item.Email %></td>
        <td><%= item.Password %></td>
        <td><%= item.Phone %></td>
        <td><%= item.Address %></td>
        <td>
          <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal" data-item-id="<%= item.id %>">Xóa</button>
        </td>
      </tr>
    <%   }) %>
    </tbody>
  </table>
<%} else{ %>
  <h3>Khong co du lieu</h3>
<%} %>



<!-- Modal -->
<div class="modal fade" id="deleteModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="deleteModalLabel">Delete users</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="users/delete" method="POST">
        <div class="modal-body">
          Bạn chắc chắn muốn xóa?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
          <button type="submit" class="btn btn-primary">Yes</button>
        </div>
      </form>
    </div>
  </div>
</div>






<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
        integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
        crossorigin="anonymous"></script>
<script>
  //Gán biến deleteButtons bằng đối tượng có class là '.btn.btn-danger' , tức là nút bấm xóa
  const deleteButtons = document.querySelectorAll('.btn.btn-danger');
  //Gán biến deleteForm bằng form có action="users/delete" , trong modal xóa, nhớ truyền chuẩn 
  const deleteForm = document.querySelector('form[action="users/delete"]');

  deleteButtons.forEach(button => {
    //Sự kiện ấn vào nút xóa
    button.addEventListener('click', function () {
      //Lấy ra id theo tên getAttribute đã đặt ở button xóa data-item-id
      const itemId = this.getAttribute('data-item-id');
      //Sửa lại action của form trong modal xóa bằng đường dẫn khai báo trong router /delete/:id_u
      deleteForm.action = `users/delete/${itemId}`;
    });
  });
</script>







</body>
</html>

<%- include('../inc/footer.ejs') %>
